<header>
  <div class="container">
    <a routerLink="/" class="logo-link"><h1 class="logo">Find Fit</h1></a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cars">Cars</a></li>
        <!-- These are placeholders for now -->
        <li><a href="#">Real Estate</a></li>
        <li><a href="#">Contact</a></li>

        <!-- Auth links -->
        <ng-container *ngIf="user$ | async as user; else loggedOut">
          <li><span class="welcome-user">Welcome, {{ user.name }}</span></li>
          <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
        </ng-container>

        <ng-template #loggedOut>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Sign Up</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>
